<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

  <head>
    {% include "includes/meta.html" %}

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %} tapca {% endblock %}</title>
    {% include 'includes/links_head.html' %}
    {% block head_links %}{% endblock %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' data-bs-theme="light">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container">
        {% block content %}{% endblock %}
        {% include 'includes/footer.html' %}
        {% block footer %}{% endblock %}
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    {% include 'includes/links_bottom.html' %}
    {% block footer_links %}{% endblock %}

  </body>

</html>