<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-body">
        <span class="d-none d-sm-inline-block"></span>
        <br class="d-sm-none" /><script>document.write(new Date().getFullYear())</script> &copy; TAPCA | Alexander Khmylov & Maxim Khmylov</p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-body-tertiary text-opacity-85">v 0.1.0</p>
      <div class="my-2 text-center fw-bold fs-10 text-body-quaternary">
        <a class="text-body-quaternary me-1" href="#!">Политика конфиденциальности</a>&bull;
        <a class="text-body-quaternary ms-1" href="#!">Cookies</a>
      </div>
    </div>
  </div>
</footer>