{% load static %}

<nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
  <div class="collapse navbar-collapse justify-content-between">
    <div class="navbar-logo">

      <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
      <a class="navbar-brand me-1 me-sm-3" href="../index.html">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center"><img src="{% static 'assets/img/icons/logo.png' %}" alt="tapca" width="27" />
            <h5 class="logo-text ms-2 d-none d-sm-block">tapca</h5>
          </div>
        </div>
      </a>
    </div>

    <ul class="navbar-nav navbar-nav-icons flex-row">
      <li class="nav-item">
        <span class="fas"></span>
      </li>
      <li class="nav-item">
        <div class="theme-control-toggle fa-icon-wait px-2">
          <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему" style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему" style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" style="min-width: 2.25rem" id="navbarDropdownUser"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="d-block" style="height:20px;width:20px;"><span data-feather="user" style="height:20px;width:20px;"></span></span></a>
        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">
        {% if user.is_authenticated %}
          <div class="card position-relative border-0">
            <div class="overflow-auto scrollbar mt-2" style="height: 7rem;">
              <ul class="nav d-flex flex-column mb-2 pb-1">
                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="user"></span><span>Профиль</span></a></li>
                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"><span class="me-2 text-body align-bottom" data-feather="pie-chart"></span>Статистика</a></li>
                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="settings"></span>Настройки</a></li>
              </ul>
            </div>
            <div class="p-0 border-top border-translucent">
              <br>
              <div class="px-3 pb-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!"> <span class="me-2" data-feather="log-out"> </span>Выход</a></div>
            </div>
          </div>
        {% else %}
             <div class="card position-relative border-0">
               <div class="p-0 border-top border-translucent">
                 <br>
                <div class="px-3 pb-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="{% url 'users:send_otp' %}"> <span class="me-2" data-feather="log-in"> </span>Вход</a></div>
            </div>
             </div>
        {% endif %}
      </li>

{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link" href="#" style="min-width: 2.25rem" id="navbarDropdownUser"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="d-block" style="height:20px;width:20px;"><span data-feather="user" style="height:20px;width:20px;"></span></span></a>#}
{##}
{#        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">#}
{#          <div class="card position-relative border-0">#}
{#            <div class="overflow-auto scrollbar mt-2" style="height: 7rem;">#}
{#              <ul class="nav d-flex flex-column mb-2 pb-1">#}
{#                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="user"></span><span>Профиль</span></a></li>#}
{#                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"><span class="me-2 text-body align-bottom" data-feather="pie-chart"></span>Статистика</a></li>#}
{#                <li class="nav-item"><a class="nav-link px-3 d-block" href="#!"> <span class="me-2 text-body align-bottom" data-feather="settings"></span>Настройки</a></li>#}
{#              </ul>#}
{#            </div>#}
{#            <div class="p-0 border-top border-translucent">#}
{#              <br>#}
{#              <div class="px-3 pb-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!"> <span class="me-2" data-feather="log-out"> </span>Выход</a></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </li>#}

    </ul>
  </div>
</nav>