{% load static %}

<nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
  <div class="collapse navbar-collapse justify-content-between">
    <div class="navbar-logo">

      <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
      <a class="navbar-brand me-1 me-sm-3" href="{% url 'cards:cards_main' %}">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center"><img src="{% static 'assets/img/icons/logo.png' %}" alt="tapca" width="27" />
            <h5 class="logo-text ms-2 d-none d-sm-block">tapca</h5>
          </div>
        </div>
      </a>
    </div>

      <div class="search-box navbar-top-search-box d-none d-lg-block" style="width:25rem;">
        <form
            autocomplete="off"
            class="position-relative"
            data-bs-toggle="search"
            data-bs-display="static"
            hx-get="{% url 'cards:card_search' %}"
            hx-target = "#search_results"
            hx-trigger = "input changed delay:300ms from:#id_search"
            hx-swap = "innerHTML"
        >
          <input type="search" name="word" aria-label="Search" placeholder="Поиск" class="form-control search-input search" id="id_search">
{#          <input id="id_search" class="form-control search-input fuzzy-search rounded-pill form-control-sm" type="search" placeholder="Поиск..." aria-label="Search"/>#}
{#          <span class="fas fa-search search-box-icon"></span>#}
        </form>

        <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
          <button class="btn btn-link p-0" aria-label="Close"></button>
        </div>
        <div class="dropdown-menu border start-0 py-0 overflow-hidden w-100">
          <div class="scrollbar-overlay" style="max-height: 30rem;">
            <div class="list pb-3">
              <div id="search_results" class="py-2">




              </div>
            </div>
          </div>
        </div>
      </div>

    <ul class="navbar-nav navbar-nav-icons flex-row">
      <li class="nav-item">
        <span class="fas"></span>
      </li>
      <li class="nav-item">
        <div class="theme-control-toggle fa-icon-wait px-2">
          <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему" style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Сменить тему" style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label>
        </div>
      </li>

      <li class="nav-item dropdown">

          {% if user.is_authenticated %}
            <a class="nav-link" href="#" style="min-width: 2.25rem" id="navbarDropdownUser"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="d-block" style="height:20px;width:20px;"><span data-feather="user" style="height:20px;width:20px;"></span></span></a>
            <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">
            {% if user.first_name or user.last_name %}
              <div class="card position-relative border-0">
                <div class="card-body p-0">
                  <div class="text-center pt-3 pb-1">
                    <h6 class="mt-2 text-body-emphasis">{{ user.first_name }} {{ user.last_name }}</h6>
                  </div>
                </div>
              </div>
            {% endif %}

            <div class="overflow-auto scrollbar mt-2" style="height: 3rem;">
              <ul class="nav d-flex flex-column mb-2 pb-1">
                <li class="nav-item"><a class="nav-link px-3 d-block" href="{% url 'users:statistics' user.pk %}"> <span class="me-2 text-body align-bottom" data-feather="settings"></span>Настройки</a></li>
              </ul>
            </div>
            <div class="p-0 border-top border-translucent">
              <br>
              <div class="px-3 pb-3">
                <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="{% url 'users:logout' %}">
                  <span class="me-2" data-feather="log-out"> </span>Выход</a>
              </div>
            </div>
            </div>

          {% else %}
              <a class="nav-link" href="{% url 'users:login_captcha' %}" style="min-width: 2.25rem"><span class="d-block" style="height:20px;width:20px;"><span data-feather="user" style="height:20px;width:20px;"></span></span></a>
          {% endif %}
      </li>

    </ul>
  </div>
</nav>