
  {% for card in cards %}
  {% if forloop.last and page_obj.has_next %}
    <tr
        hx-get="{% url 'users:new_words' %}?page={{ page_obj.next_page_number}}"
        hx-trigger="revealed"
        hx-swap="afterend"
        hx-include="#new_words_filter"
        hx-indicator="#spinner"
    >
    {% else %}
        <tr>
    {% endif %}

    <tr class="position-static">
      <td class="align-middle white-space-nowrap ps-0 py-3">
        <a class="fw-bold fs-8" href="{{ card.get_absolute_url }}" target="_blank">
          {{ card.word }} <span class="mb-0 fs-9 text-body">({{ card.part_of_speech }})</span>
        </a>
           {% for tag in card.tag.all %}
            {% if tag.color == 'GREEN' %}
              <span class="badge badge-phoenix badge-phoenix-success fs-10">{{ tag.name }}</span>
            {% endif %}
            {% if tag.color == 'RED' %}
              <span class="badge badge-phoenix badge-phoenix-danger fs-10">{{ tag.name }}</span>
            {% endif %}
            {% if tag.color == 'ORANGE' %}
              <span class="badge badge-phoenix badge-phoenix-warning fs-10">{{ tag.name }}</span>
            {% endif %}
            {% if tag.color == 'BLUE' %}
              <span class="badge badge-phoenix badge-phoenix-info fs-10">{{ tag.name }}</span>
            {% endif %}
            {% if tag.color == 'GRAY' %}
              <span class="badge badge-phoenix badge-phoenix-secondary fs-10">{{ tag.name }}</span>
            {% endif %}
          {% endfor %}

      </td>
    <td class="align-middle white-space-nowrap deadline ps-3 py-4">
        <p class="mb-0 fs-8 text-body">{{ card.translation }} {% if card.translation_secondary %}({{ card.translation_secondary }}){% endif %}</p>
      </td>

    </tr>
  {% endfor %}

