
  <div class="mb-9">
    <div id="projectSummary" data-list='{"valueNames":["projectName","assignees","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'>
      <div class="row g-3 justify-content-between align-items-end mb-4">
        <div class="col-12 col-sm-auto">
          <div class="d-flex align-items-center">
            <div class="search-box me-3">
              <form class="position-relative">
                <input class="form-control search-input search" type="search" placeholder="Поиск" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <table class="table fs-9 mb-0 border-top border-translucent">
          <thead>
            <tr>
              <th class="white-space-nowrap align-middle ps-0">КАРТОЧКА</th>
              <th class="align-middle text-end">КАТЕГОРИЯ</th>
              <th class="align-middle ps-3">ПЕРЕВОД</th>
              <th class="align-middle ps-3"">ПРОГРЕСС</th>
              <th class="align-middle text-end"></th>
            </tr>
          </thead>
          <tbody class="list" id="project-list-table-body">
            {% for user_card in cards %}
              <tr class="position-static">
                <td class="align-middle white-space-nowrap ps-0 py-3">
                  <a class="fw-bold fs-8" href="#">
                    {{ user_card.card.word }} <span class="mb-0 fs-9 text-body">({{ user_card.card.part_of_speech }})</span>
                  </a>
                </td>
                <td class="align-middle white-space-nowrap text-end statuses">
                  {% for tag in user_card.card.tag.all %}
                    {% if tag.color == 'GREEN' %}
                      <span class="badge badge-phoenix badge-phoenix-success fs-10">{{ tag.name }}</span>
                    {% endif %}
                    {% if tag.color == 'RED' %}
                      <span class="badge badge-phoenix badge-phoenix-danger fs-10">{{ tag.name }}</span>
                    {% endif %}
                    {% if tag.color == 'ORANGE' %}
                      <span class="badge badge-phoenix badge-phoenix-warning fs-10">{{ tag.name }}</span>
                    {% endif %}
                    {% if tag.color == 'BLUE' %}
                      <span class="badge badge-phoenix badge-phoenix-info fs-10">{{ tag.name }}</span>
                    {% endif %}
                    {% if tag.color == 'GRAY' %}
                      <span class="badge badge-phoenix badge-phoenix-secondary fs-10">{{ tag.name }}</span>
                    {% endif %}
                  {% endfor %}
                </td>
                <td class="align-middle white-space-nowrap deadline ps-3 py-4">
                  <p class="mb-0 fs-9 text-body">{{ user_card.card.translation }}</p>
                </td>
                <td class="align-middle white-space-nowrap ps-3 projectprogress">
                  <p class="text-body-secondary fs-10 mb-0">{{ user_card.frequency }} / 100</p>
                  <div class="progress" style="height:3px;">
                    <div class="progress-bar bg-success" style="width: {{ user_card.frequency }}%" role="progressbar" aria-valuenow="{{ user_card.frequency }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="align-middle text-end white-space-nowrap pe-0 action">
                  <div class="btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2">
                      <a
                        class="dropdown-item"
                        hx-get="{% url 'users:reset_progress' user_card.pk %}"
                        hx-target="#repeated_words_area"
                        hx-swap="innerHTML"
                      >
                        Сбросить прогресс
                      </a>
                      <div class="dropdown-divider"></div>
                      <a
                        class="dropdown-item text-danger"
                        hx-get="{% url 'users:delete_user_card' user_card.pk %}"
                        hx-target="#repeated_words_area"
                        hx-swap="innerHTML"
                      >
                        Удалить
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
