{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
  <div class="pb-9">
    <div class="row g-4 g-xl-6">
      <div class="col-xl-4 col-xxl-3">
        <div class="sticky-leads-sidebar">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row align-items-center g-3">
                <div class="col-12 col-sm-auto flex-1">
                  <div class="d-md-flex d-xl-block align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-3 mb-md-0 mb-xl-3">
                      <span class="text-primary-dark m-2" data-feather="user" style="height: 70px; width: 70px;"></span>
                      <div class="mx-2 pt-4">
                        <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                        <div class="mt-2">
                          <p class="text-body-secondary">
                            {{ user.email }}
                          </p>
                        </div>

                      </div>
                    </div>
                    <div>
                      {% for tag in user.tags.all %}
                        {% if tag.color == 'GREEN' %}
                          <span class="badge badge-phoenix badge-phoenix-success fs-8">{{ tag.name }}</span>
                        {% endif %}
                        {% if tag.color == 'RED' %}
                          <span class="badge badge-phoenix badge-phoenix-danger fs-8">{{ tag.name }}</span>
                        {% endif %}
                        {% if tag.color == 'ORANGE' %}
                          <span class="badge badge-phoenix badge-phoenix-warning fs-8">{{ tag.name }}</span>
                        {% endif %}
                        {% if tag.color == 'BLUE' %}
                          <span class="badge badge-phoenix badge-phoenix-info fs-8">{{ tag.name }}</span>
                        {% endif %}
                        {% if tag.color == 'GRAY' %}
                          <span class="badge badge-phoenix badge-phoenix-secondary fs-8">{{ tag.name }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="mb-5">Настройки:</h4>
              <form autocomplete="off" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Сохранить">
              </form>
              <div class="row g-3">
                <div class="col-12">
                  <div class="mb-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-xxl-9">

      <div
        id="statistic_area"
        hx-get="{% url 'users:words_statistics' %}"
        hx-target="#statistic_area"
        hx-swap="innerHTML"
        hx-trigger="load, update_statistics from:body"
      >

      </div>

        <ul class="nav nav-underline fs-9 deal-details scrollbar flex-nowrap w-100 pb-1 mb-6" id="myTab" role="tablist" style="overflow-y: hidden;">
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a
              class="nav-link active fs-8"
              id="activity-tab"
              data-bs-toggle="tab"
              href="#tab-activity"
              role="tab"
              aria-controls="tab-activity"
              aria-selected="false"
              tabindex="-1"
              hx-get="{% url 'users:new_words' %}"
              hx-include="#new_words_filter"
              hx-trigger="load, click"
              hx-target="#new_words_area"
              hx-swap="innerHTML"
            >
              <span class="fa-solid fas fa-book-open me-2 tab-icon-color"></span>Новые слова
            </a>
          </li>
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a
              class="nav-link fs-8"
              id="notes-tab"
              data-bs-toggle="tab"
              href="#tab-notes"
              role="tab"
              aria-controls="tab-notes"
              aria-selected="false"
              tabindex="-1"
              hx-get="{% url 'users:repeated_words' %}"
              hx-include="#repeated_words_filter"
              hx-trigger="load, click"
              hx-target="#repeated_words_area"
              hx-swap="innerHTML"
            >
              <span class="fa-solid fas fa-reply-all me-2 tab-icon-color"></span>Слова на повторении
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="tab-activity" role="tabpanel" aria-labelledby="activity-tab">
            <h2 class="mb-4">Новые слова</h2>
              <div class="mb-9">

                <div class="row g-3 justify-content-between align-items-end mb-4">
                  <div class="col-12 col-sm-auto">
                    <div class="d-flex align-items-center">
                      <div class="search-box me-3">
                        <form id="new_words_filter" class="position-relative" autocomplete="off"
                          hx-get="{% url 'users:new_words' %}"
                          hx-target = "#new_words_area"
                          hx-trigger = "input changed delay:300ms from:#id_word"
                          hx-swap = "innerHTML"
                        >
                          {% render_field new_words_filter.form.word class="form-control search-input search" type="search" placeholder="Поиск" aria-label="Search" onkeydown="if (event.keyCode === 13) event.preventDefault();" %}
                          <span class="fas fa-search search-box-icon"></span>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive scrollbar">
                  <table class="table fs-9 mb-0 border-top border-translucent">
                    <thead>
                      <tr>
                        <th class="white-space-nowrap align-middle ps-0">КАРТОЧКА</th>
                        <th class="align-middle ps-3">ПЕРЕВОД</th>

                      </tr>
                    </thead>
                    <tbody class="list" id="new_words_area">

                    </tbody>
                  </table>
                </div>

                <div id="spinner" class="spinner-border htmx-indicator" role="status"><span class="visually-hidden">Загрузка...</span></div>



              </div>
          </div>
          <div class="tab-pane fade" id="tab-notes" role="tabpanel" aria-labelledby="notes-tab">
            <h2 class="mb-4">Слова на повторении</h2>

            <div class="mb-9">
              <div id="projectSummary" data-list='{"valueNames":["projectName","assignees","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'>
                <div class="row g-3 justify-content-between align-items-end mb-4">
                  <div class="col-12 col-sm-auto">
                    <div class="d-flex align-items-center">
                      <div class="search-box me-3">
                        <form id="repeated_words_filter" class="position-relative" autocomplete="off"
                          hx-get="{% url 'users:repeated_words' %}"
                          hx-target = "#repeated_words_area"
                          hx-trigger = "input changed delay:300ms from:#id_card"
                          hx-swap = "innerHTML"
                        >
                          {% render_field repeated_words_filter.form.card class="form-control search-input search" type="search" placeholder="Поиск" aria-label="Search" onkeydown="if (event.keyCode === 13) event.preventDefault();" %}
                          <span class="fas fa-search search-box-icon"></span>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive scrollbar">
                  <table class="table fs-9 mb-0 border-top border-translucent">
                    <thead>
                      <tr>
                        <th class="white-space-nowrap align-middle ps-0">КАРТОЧКА</th>
                        <th class="align-middle ps-3">ПЕРЕВОД</th>
                        <th class="align-middle ps-3">ЧАСТОТА</th>
                        <th class="align-middle text-end"></th>
                      </tr>
                    </thead>
                    <tbody class="list" id="repeated_words_area">
                     </tbody>
                  </table>
                </div>
                <div id="spinner_rep" class="spinner-border htmx-indicator" role="status"><span class="visually-hidden">Загрузка...</span></div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
